.inter-none {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-serif-title {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.nav-right{
    display: flex;
    list-style: none;
    gap: 48px;
    font-weight:500;

}
.dark1{
    color: #252432;
}
.dark2{
    color: #8987A1;
}
.fresh-flower{
    display: flex;
    align-items: flex-end;
    margin-top: 120px;
}
.title{
    font-size: 65px;
    font-weight: 700;
}
.yallow{
    color: #E95A08;
}
.title-description{
    font-size: 22px;
}
.fresh-flower-right img{
    width: 570px;
    height: 355px;
}
.plants-title{
    font-size: 50px;
    font-weight: bold;
}
.plants-info{
    text-align: center;
    font-size: 22px;
    padding: 20px;
}
.plant{
    margin-top:120px ;
    margin-bottom: 49px;
}
.plants{
    display: flex;
    justify-content: center;
}
.card{
    text-align: center;
    transition: background-color 0.3s ease;
}
.lily{
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
}
.usd{
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
.btn-praimary{
    background-color: #E95A08;
    padding: 19px 80px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    margin-top: 30px;
    transition: background-color 0.3s ease;
}
.btn-praimary:hover {
  background-color: #c44a07;
}
.flower-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}
.card:hover{
    background-color: rgb(219, 237, 237);
    transform: scale(1.02);
}
.middle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 60px;
}
.lover-title{
    font-size: 50px;
    font-weight: bold;
}
.lover-description{
    margin-left: 35px;
    font-size: 22px;
}
.flower-lover-left img{
    width: 540px;
    height: 597px;
}
.plant-lover{
    position: relative;
    margin-top: 211px;
}
.batch{
    position: absolute;  
    left: 360px;
    top: -130px;
    z-index: 10;
    width: 286px;
    height: 286px;
}
.relative{
    position: relative;
}
.details{
    text-align: center;
}
.none{
    padding-left: 200px;
    padding-right: 200px;
}
/*for plant bloom*/
.shop-plant {
  position: relative;
  width: 367px;
  height: 201px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}


.shop-plant::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('assets/deal-bloom.png'); 
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
  z-index: 0;
}


.shop-product-1 {
  position: relative;  
  color: white;
  text-align: center;
  z-index: 1;
}

.shop-product-1 p {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.shop-product-1 a {
  color: white;
  font-weight: 500;
  text-decoration: underline;
  font-size: 16px;
}

/*for plant ana*/
.shop-plant-2{
  position: relative;
  width: 367px;
  height: 201px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}


.shop-plant-2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('assets/deal-bloom.png'); 
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
  z-index: 0;
}


.shop-product-2 {
  position: relative;  
  color: white;
  text-align: center;
  z-index: 1;
}

.shop-product-2 p {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.shop-product-2 a {
  color: white;
  font-weight: 500;
  text-decoration: underline;
  font-size: 16px;
}
.shop-plant-2{
      margin-top: 24px;
}
/*for right plant off*/
.plant-right{
  position: relative;
  width: 753px;
  height: 424px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}


.plant-right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('assets/deal-bloom.png'); 
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
  z-index: 0;
}


.shop-product-3 {
  position: relative;  
  color: white;
  text-align: center;
  z-index: 1;
}

.shop-product-3 p {
  font-size:40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.shop-product-3 a {
  color: white;
  font-weight: 500;
  text-decoration: underline;
  font-size: 28px;
}
.shop-bar{
    display: flex;
    gap: 25px;
    margin-top: 120px;
}
.email{
    width: 644px;
    height: 50px;
    padding: 0 15px;
    font-size: 16px;
    border: none;
    outline: none;
}
.join-bunch{
    background-image: url(assets/news-letter-bg.png);
    width: 100%;
    height: 533px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.join-details{
    margin-top: 120px;
}
.join-bunch p{
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.btn-new{
    background-color: #E95A08;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 0 30px;
    width: 186px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-new:hover {
  background-color: #c44a07;
}
.subscribe {
  display: flex;
  align-items: center;
  gap: 0;
  margin-top: 25px;
}

@media screen and (max-width:576px){
    nav{
        margin: 0 auto;
    }
    nav img{
        width:20%;
    }
    .hide{
        display: none;
    }
    .fresh-flower{
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
        margin-left: 0 auto;
        margin-top: 28px;
    }
    .fresh-flower-left{
        margin-top: 28px;
    }
    .title{
        text-align: start;
        font-size: 24px;
    }
    .title-description{
        font-size: 14px;
        text-align: start;
    }
    .fresh-flower-right img{
        width: 394px;
        height: 245px;
    }
    .plant{
        margin-top: 65px;
    }
    .plants-title{
        font-size: 20px;
        align-items: center;
    }
    .none{
        padding: 5%;
    }
    .plants-info{
        font-size: 14px;
    }
    .flower-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 28px 20px;
    }
    .flower-list .card .card-image img{
        width: 171px;
        height: 197px;
    }
    .lily{
        font-size: 16px;
    }
    .usd{
        font-size: 16px;
        margin-top: 10px;
    }
    .btn-praimary{
        padding: 19px 30px;
        font-size: 16;
        margin-top: 30px;
    }
    .card:hover{
    background-color: 0;
    transform: none;
    }
    .plant-lover{
        margin-top: 41px;
    }
    .middle{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .batch{
        display: none;
    }
    .flower-lover-left img{
        width: 367px;
        height: 396px;
    }
    .lover-title{
        font-size: 24px;
    }
    .flower-lover-right{
        margin-top: 18px;
    }
    .lover-title br{
        display: none;
    }
    .lover-description{
        font-size: 13px;
    }
    .details{
        margin-top: 143px;
    }
    
    .shop-plant {
       width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }
    .shop-plant-2{
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }
    .shop-bar{
        flex-direction: column;
    }
    .plant-right{
       width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }
    .shop-product-1 p {
        font-size: 20px;
    }
    .shop-product-2 p {
        font-size: 20px;
    }
    .shop-product-3 p {
        font-size:20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .shop-product-3 a {
        color: white;
        font-weight: 500;
        text-decoration: underline;
        font-size: 16px;
    }
    .join-bunch{ 
        background-size:cover;
        background-position: center;
        width:375px;
        height: 276px;
    }
    .join-bunch p{
        font-size: 20px;
    }
    .btn-new{
         width: 103px;
         text-align: center;
         padding: 0%;
    }
    .email{
        width: 218px;
    }
    .join-details{
        margin-top: 40px;
    }
}